<div class = 'row'>
  <div class="page-header">
    <a href='/artists/{{id}}'><h1>{{name}} <small>{{genre}}</small></h1></a>
  </div>
<div class="col-xs-6 col-md-3">
  <a href="/artists/{{id}}" class="thumbnail">
    <img src="{{image}}"

</a>
</div>
</div>
